//---------------------- cursor ----------------------\\
cursor {
    xcursor-theme "Bibata-Modern-Ice"
}


//---------------------- input ----------------------\\
input {
    keyboard {
        xkb {
            layout "us"
        }
    }
    touchpad {
        tap
        natural-scroll
    }
    focus-follows-mouse
}


//---------------------- monitor ----------------------\\
output "eDP-1" {
    mode "1920x1080@59.951"
    scale 1
    position x=1280 y=0
    variable-refresh-rate // on-demand=true
    focus-at-startup
    backdrop-color "#001100"
}


//---------------------- decoration ----------------------\\
layout {
    gaps 20
    always-center-single-column
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }
    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }
    default-column-width { proportion 0.5; }
    focus-ring {
        width 3
        active-color "#9e9fa4"
        inactive-color "#364B57"
    }
    border {
        off
    }
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
    background-color "transparent"
}


//---------------------- startup ----------------------\\
spawn-at-startup "waybar"
spawn-at-startup "swaync"
spawn-sh-at-startup "wl-paste --watch cliphist store"
spawn-sh-at-startup "sh ~/.config/niri/scripts/startup.sh"
spawn-sh-at-startup "sh ~/.config/niri/scripts/polkit.sh"


//---------------------- layer rules ----------------------\\
layer-rule {
    match namespace="^swww-daemon$"
    place-within-backdrop true
}


//---------------------- animations ----------------------\\
animations {
    workspace-switch {
            spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
        }

        window-open {
            duration-ms 150
            curve "ease-out-expo"
        }

        window-close {
            duration-ms 150
            curve "ease-out-quad"
        }

        horizontal-view-movement {
            spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
        }

        window-movement {
            spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
        }

        window-resize {
            spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
        }

        config-notification-open-close {
            spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
        }

        exit-confirmation-open-close {
            spring damping-ratio=0.6 stiffness=500 epsilon=0.01
        }

        screenshot-ui-open {
            duration-ms 200
            curve "ease-out-quad"
        }

        overview-open-close {
            spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
        }
}


//---------------------- window rules ----------------------\\
window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}

window-rule {
    match app-id="firefox"
    match app-id="code"
    match app-id="dev.zed.Zed"
    default-column-width { proportion 1.0; }
}

window-rule {
    match app-id="kitty" title="browser"
    match app-id="kitty" title="monitor"
    match app-id="kitty" title="update"
    open-floating true
    shadow {
        on
    }
}

window-rule {
    open-floating false
    // open-maximized true
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    draw-border-with-background false
}

window-rule {
    match app-id=r#"^org\.kde\.kdeconnect\.daemon$"#
    match app-id=r#"^galculator$"#
    open-floating true
}

window-rule {
    match app-id=r#"org.kde.polkit-kde-authentication-agent-1"#
    block-out-from "screen-capture"
    // block-out-from "screencast"
}

window-rule {
    match app-id=r#"zen$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"zen$"#
    match app-id=r#"chromium$"#
    default-column-width {proportion 0.9;}
}

window-rule {
    match app-id=r#"neovide$"#
    match app-id=r#"zed$"#
    match app-id=r#"jetbrains-idea$"#
    match app-id=r#"codium"#
    
    default-column-width {proportion 0.75;}
}

window-rule {
    match app-id=r#"org.pwmt.zathura"#
    default-column-width {proportion 0.66667;}
}

window-rule {
    match app-id=r#"QtScrcpy$"# title="^Phone-+"
    default-column-width {proportion 0.25;}
}

window-rule {
    match app-id=r#"QtScrcpy$"# title="^Tool$"
    open-floating false
    default-column-width {}
}

window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
}


//---------------------- keybinds ----------------------\\
binds {

    // applications
    Mod+Return           { spawn-sh "kitty"; }
    Mod+D                { spawn-sh "~/.config/niri/scripts/menu.sh"; }
    Mod+Shift+D          { spawn-sh "~/.config/niri/scripts/rofi-emoji.sh"; }
    Mod+E                { spawn-sh "dolphin"; }
    Mod+B                { spawn-sh "~/.config/niri/scripts/browser.sh"; }
    Mod+Alt+B            { spawn-sh "~/.config/niri/scripts/default_browser.sh"; }
    Mod+Shift+Slash      { show-hotkey-overlay; }
    Mod+Shift+Backspace  { spawn "hyprlock"; }

    // Backlight and Audio
    F4                    allow-when-locked=true { spawn-sh "~/.config/niri/scripts/brightness.sh up" ; }
    F3                    allow-when-locked=true { spawn-sh "~/.config/niri/scripts/brightness.sh down" ; }
    F9                    allow-when-locked=true { spawn-sh "~/.config/niri/scripts/volumecontrol.sh --toggle"; }
    F10                   allow-when-locked=true { spawn-sh "~/.config/niri/scripts/volumecontrol.sh --dec"; }
    F11                   allow-when-locked=true { spawn-sh "~/.config/niri/scripts/volumecontrol.sh --inc"; }

    XF86MonBrightnessUp   allow-when-locked=true { spawn-sh "~/.config/niri/scripts/brightness.sh up" ; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "~/.config/niri/scripts/brightness.sh down" ; }
    XF86AudioRaiseVolume  allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+"; }
    XF86AudioLowerVolume  allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioMute         allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioPlay         allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPause        allow-when-locked=true { spawn-sh "playerctl pause"; }
    XF86AudioNext         allow-when-locked=true { spawn-sh "playerctl next"; }
    XF86AudioPrev         allow-when-locked=true { spawn-sh "playerctl previous"; }

    // Windows and Columns
    Mod+Q                { close-window; }
    Mod+X                { spawn-sh "wlogout -b 4 --layout ~/.config/wlogout/layout --css ~/.config/wlogout/style.css"; }
    Mod+Alt+C            { spawn-sh "~/.config/niri/scripts/cliphist.sh c"; }
    Mod+Alt+W            { spawn-sh "~/.config/niri/scripts/cliphist.sh w"; }
    Mod+V                { toggle-window-floating; }
    Mod+F                { maximize-column; }
    Mod+Shift+F          { fullscreen-window; }
    Mod+H                { focus-column-left; }
    Mod+L                { focus-column-right; }
    Mod+J                { focus-window-down; }
    Mod+K                { focus-window-up; }
    Mod+Ctrl+H           { move-column-left; }
    Mod+Ctrl+L           { move-column-right; }
    Mod+Ctrl+J           { move-window-down; }
    Mod+Ctrl+K           { move-window-up; }
    Mod+Home             { focus-column-first; }
    Mod+End              { focus-column-last; }
    Mod+Ctrl+Home        { move-column-to-first; }
    Mod+Ctrl+End         { move-column-to-last; }
    Mod+Shift+h          { set-column-width "-10%"; }
    Mod+Shift+l          { set-column-width "+10%"; }
    Mod+Shift+k          { set-window-height "-10%"; }
    Mod+Shift+j          { set-window-height "+10%"; }
    Mod+BracketLeft      { consume-or-expel-window-left; }
    Mod+BracketRight     { consume-or-expel-window-right; }
    Mod+Comma            { consume-window-into-column; }
    Mod+Period           { expel-window-from-column; }
    Ctrl+Escape          { spawn-sh "~/.config/niri/scripts/waybar-reload.sh --reload"; }

    // wallpapers
    Mod+W                { spawn-sh "$HOME/.config/niri/scripts/Wallpaper.sh"; }
    Mod+Shift+W          { spawn-sh "$HOME/.config/niri/scripts/WallpaperSelect.sh thm1"; }

    // Workspaces
    Mod+Page_Down        { focus-workspace-down; }
    Mod+Page_Up          { focus-workspace-up; }
    Mod+Ctrl+Page_Down   { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up     { move-column-to-workspace-up; }
    Mod+1                { focus-workspace 1; }
    Mod+2                { focus-workspace 2; }
    Mod+3                { focus-workspace 3; }
    Mod+4                { focus-workspace 4; }
    Mod+5                { focus-workspace 5; }
    Mod+6                { focus-workspace 6; }
    Mod+7                { focus-workspace 7; }
    Mod+8                { focus-workspace 8; }
    Mod+9                { focus-workspace 9; }
    Mod+Ctrl+1           { move-column-to-workspace 1; }
    Mod+Ctrl+2           { move-column-to-workspace 2; }
    Mod+Ctrl+3           { move-column-to-workspace 3; }
    Mod+Ctrl+4           { move-column-to-workspace 4; }
    Mod+Ctrl+5           { move-column-to-workspace 5; }
    Mod+Ctrl+6           { move-column-to-workspace 6; }
    Mod+Ctrl+7           { move-column-to-workspace 7; }
    Mod+Ctrl+8           { move-column-to-workspace 8; }
    Mod+Ctrl+9           { move-column-to-workspace 9; }
    Mod+Ctrl+0           { move-column-to-workspace 10; }
    Mod+A                { toggle-overview; }

    // Screenshots
    Print                { screenshot-screen; }
    Shift+Print          { screenshot; }
    Ctrl+Print           { screenshot-window; }
}


//---------------------- misc configuration ----------------------\\
screenshot-path "~/Pictures/Screenshots/screenshot_niri_%Y-%m-%d %H-%M-%S.png"
prefer-no-csd
hotkey-overlay {
    skip-at-startup
}

//---------------------- environment ----------------------\\
environment {
    QT_QPA_PLATFORMTHEME "qt5ct:qt6ct"
    GTK_THEME "TokyoNight"
}
